/*-- scss:defaults --*/

// fonts

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/raleway-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('resources/fonts/raleway-v29-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('resources/fonts/raleway-v29-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url('resources/fonts/raleway-v29-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('resources/fonts/raleway-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('resources/fonts/raleway-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



// custom variables

$font-main: Raleway;

$eth-blue: #215CAF;
$eth-blue-dark: #08407E;
$eth-petrol: #007894;
$eth-petrol-dark: #00596D;
$eth-green: #627313;
$eth-green-dark: #365213;
$eth-bronze: #8E6713;
$eth-bronze-dark: #956013;
$eth-red: #B7352D;
$eth-red-dark: #96272D;
$eth-purple: #A7117A;
$eth-purple-dark: #8C0A59;
$eth-grey: #6F6F6F;
$eth-grey-dark: #575757;

$color-main: $eth-blue-dark;

// theme variables

$primary: $color-main;

$callout-color-note: $eth-blue;
$callout-color-tip: $eth-green;
$callout-color-caution: $eth-bronze;
$callout-color-warning: $eth-red;
$callout-color-important: $eth-purple;

$link-color: $color-main;

$font-family-sans-serif: $font-main;
$font-family-serif: $font-main;
$font-variant-numeric: lining-nums tabular-nums;


/* -- scss:mixins --*/

@mixin links() {
    a {
        color: $eth-blue;
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        color: $eth-blue-dark;
        text-decoration: underline;
    }

    a:active {
        color: $eth-blue;
    }
}


/*-- scss:rules --*/

// global styling

:root body {
    @include links;

    h1 {
        font-weight: 700;
    }
}

// navbar

.navbar .navbar-brand:hover {
    text-decoration: none;
}

.navbar-dark .navbar-nav {
    .nav-link:hover,
    .nav-link.active {
        color: $eth-blue-dark;
    }

    .nav-link.active {
        text-decoration: underline;
    }
}

// footer

.footer .nav-footer a {
    color: theme-contrast($footer-bg, $footer-bg, "AA");
    text-decoration: underline;
}

// about page

div.quarto-about-solana .about-entity .entity-contents {
    h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    .about-links {
        font-size: 1.2rem;
        font-weight: 600;
        column-gap: 0.5em;
    }
}

.about-contents {
    text-align: justify;
}
